:root {
  --var-background: #000;
  --var-font: #fff;
  --grey-lines: rgba(255, 255, 255, 0.2);
  --blue-color: #5090d0;
  --warning: #ff8e8e;
  --container-padding: 10px 20px;
  --light-border: 2px solid var(--grey-lines);
  --border-radius: 4px;
  --bottom-margin: 20px;
  --all-margin: 20px;
  --active-border: 2px solid var(--blue-color);
}

body {
  background-color: var(--var-background);
  font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
  color: var(--var-font);
  padding: 0;
  margin: 0;
}

.title {
  margin-left: 20px;
  margin-bottom: 30px;
  z-index: 1;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px;
  position: relative;
  z-index: 1;
}

label {
  display: block;
  margin-bottom: 10px;
}

input,
button {
  padding: 14px 16px;
  font-size: 1.25rem;
  border-radius: var(--border-radius);
  margin-bottom: var(--bottom-margin);
  background: #2b2b2b;
  border: var(--light-border);
  color: white;
  box-sizing: border-box;
}

button {
  background-color: black;
  color: white;
  border: var(--light-border);
}

button:active,
button:hover,
button:focus {
  border: var(--active-border);
  box-shadow: 0px 0px 10px 10px rgba(80, 144, 208, 0.1);
  cursor: pointer;
}

input:active,
input:hover,
input:focus,
.switch-button:active,
.switch-button:hover,
.switch-button:focus {
  border: var(--active-border);
  box-shadow: 0px 0px 10px 10px rgba(80, 144, 208, 0.1);
}

.switch-button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.switch-button span {
  opacity: 0.2;
}

.switch-button .active {
  opacity: 1;
}


.input-container {
  padding: var(--container-padding);
  border: 2px solid var(--grey-lines);
  border-radius: var(--border-radius);
  margin: var(--all-margin);
  display: grid;
  grid-template-columns: 1fr;
  z-index: 1;
  position: relative;
}

.input-container input {
  width: 100%;

}

.input-container button {
  margin-top: 0;
  width: 100%;
}

.city-container {
  padding: var(--container-padding);
  border: var(--light-border);
  border-radius: var(--border-radius);
  margin-bottom: var(--bottom-margin);
  background: rgba(0,0,0,0.4);
}

.message {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #1c1c1c;
  text-align: center;
  left: 20px;
  padding: 40px;
  box-sizing: border-box;
  right: 20px;
  z-index: 2;
}

@media screen and (min-width: 900px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .city-container {
    margin-right: 20px;
  }

  .city-container:nth-child(3n) {
    margin-right: 0;
  }

  .input-container {
    grid-template-columns: 1fr 1fr 50%;
  }

  .input-container input {
    width: calc(100% - 10px);
  }

  .input-container button {
    margin-top: 31px;
  }

}

@keyframes fadeDown {
  0% {
      opacity: 1;
      transform: translateY(0);
  }

  100% {
      opacity: 0;
      transform: translateY(400px);
  }
}

.removeMessage {
  animation-name: fadeDown;
  animation-duration: 1.2s;
}